@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /* the translate x is the x axis just like math */
    /* neg value goes left pos value goes right */
  }
/* the first state is 0% */
  /* 80% {
    transform: translateX(-10px);
  } */

  100% {
    opacity: 1;
    transform: translate(0);
  }
/* the final state of the keyframe is 100% */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* the translate x is the x axis just like math */
    /* neg value goes left pos value goes right */
  }
/* the first state is 0% */
  /* 80% {
    transform: translateX(10px);
  } */

  100% {
    opacity: 1;
    transform: translate(0);
  }
/* the final state of the keyframe is 100% */
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    /* the translate x is the x axis just like math */
    /* neg value goes left pos value goes right */
  }
/* the first state is 0% */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
/* the final state of the keyframe is 100% */
}
